{% extends 'base/base.html' %}
{% block content %}

<h1 class="title">Offered Courses At our Code Pointer</h1>
<p class="descrip">We will teach you from basics..... </p>


<div class="coursesContainer">
    {% for record in dict %}
    <div class="card">
        <h1 class="cardTitle">{{record.title}}</h1>
        <p class="desc">{{record.description}}</p>
        {% if record.category_id == 1 %}
            <p class="category">• Front-End</p>
        {% elif record.category_id == 2 %}
             <p class="category">• Back-End</p>
        {% else %}
            <p class="category">• Database And Architecture</p>
        {% endif %}
        <div class="cardFooter">
            <div class="time">{{record.playtime}} mins</div>
            <a href="#" class="priceTag">{{record.price}}$</a>
        </div>
    </div>
    {% empty %}
    <h3>No items in the list</h3>
    {% endfor %}
 
    <!-- <div class="card">
        <h1 class="cardTitle">Ultimate java Series</h1>
        <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, architecto! Lorem, ipsum.</p>
        <p class="category">• Front-End</p>
        <div class="cardFooter">
            <div class="time">2hr 30min</div>
            <a href="#" class="priceTag">50$
            </a>
        </div>
    </div> 
    <div class="card">
        <h1 class="cardTitle">Ultimate java Series</h1>
        <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, architecto! Lorem, ipsum.</p>
        <p class="category">• Front-End</p>
        <div class="cardFooter">
            <div class="time">2hr 30min</div>
            <a href="#" class="priceTag">50$
            </a>
        </div>
    </div> 
    <div class="card">
        <h1 class="cardTitle">Ultimate java Series</h1>
        <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, architecto! Lorem, ipsum.</p>
        <p class="category">• Front-End</p>
        <div class="cardFooter">
            <div class="time">2hr 30min</div>
            <a href="#" class="priceTag">50$
            </a>
        </div>
    </div> 
    <div class="card">
        <h1 class="cardTitle">Ultimate java Series</h1>
        <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, architecto! Lorem, ipsum.</p>
        <p class="category">• Front-End</p>
        <div class="cardFooter">
            <div class="time">2hr 30min</div>
            <a href="#" class="priceTag">50$
            </a>
        </div>
    </div> 
    <div class="card">
        <h1 class="cardTitle">Ultimate java Series</h1>
        <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, architecto! Lorem, ipsum.</p>
        <p class="category">• Front-End</p>
        <div class="cardFooter">
            <div class="time">2hr 30min</div>
            <a href="#" class="priceTag">50$
            </a>
        </div>
    </div> 
    <div class="card">
        <h1 class="cardTitle">Ultimate java Series</h1>
        <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, architecto! Lorem, ipsum.</p>
        <p class="category">• Front-End</p>
        <div class="cardFooter">
            <div class="time">2hr 30min</div>
            <a href="#" class="priceTag">50$
            </a>
        </div>
    </div> 
    <div class="card">
        <h1 class="cardTitle">Ultimate java Series</h1>
        <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, architecto! Lorem, ipsum.</p>
        <p class="category">• Front-End</p>
        <div class="cardFooter">
            <div class="time">2hr 30min</div>
            <a href="#" class="priceTag">50$</a>
        </div>
    </div>  -->
</div>

{% endblock content %}
