{% extends 'base/base.html' %}
{% block content %}
{% load static %}
<section>
    <div class = "intro">
        <div>
        <h1 class="">Build your tech career <br> Get a Guaranteed Job upto 40 lacs</h1>
        <h4>Learn from the best instructors
            and get placed in Top Software Dev companies</h4>
        <button type = "button" class="btn btn-primary">Apply now for free</button>
        </div>
    </div>
    
</section> 
<section>
    <div class="box">
        <div class="innerbox shadow p-3 mb-5 bg-white rounded quote">
            <h2>We’ve helped 3000+ students completely
                change their lives.
                Don’t just take our word for it</h2>
        </div>
    
        <div class=" innerbox media shadow p-3 mb-5 bg-white rounded"">
            <img class="logo" src="{% static '/images/walmart-logo-2x.png' %}" alt="">
            <div class="media-body"><h2>Walmart</h2>
            <h1>"From Tier-3 college to Walmart"</h1> 
            </div>
            <p>Joining AccioJob was my Best Decision! The opportunities that I would have never got at my college, I got through AccioJob. Mentors never complained about the number of questions we asked and above all, answered all of them. The teachers have in depth Knowledge of the subject and are very friendly. They also helped us with Infinite Mock Interview Sessions to crack big Tech Companies.</p> 
            <div class="profile">
                <h3>Stuti Pandey</br>
                    IET, LUCKNOW </h3> 
            </div>
        </div>
        <div class=" innerbox media shadow p-3 mb-5 bg-white rounded">
            <img class="logo" src="{% static '/images/make-my-trip-logo-2x.png' %}" alt="">
            <div class="media-body"><h2>MakeMyTrip</h2>
            <h1>"Mechanical Engineering at NIT Uttarakhand to SDE at MakeMyTrip"</h1> 
            </div>
            <p>I never imagined getting a Tech Role before I came across AccioJob but with the help of their well Structured Curriculum, proper Guidance & mentors and Infinite Mocks.I was able to land SDE-1 Role at MakeMy Trip.
            </p>             
            <div class="profile">
                <h3>Pradyot Verma</br>
                    NIT Uttarakhand</h3> 
            </div>
        </div>

    </div>
</section> 
<section>
    <div class="logobox">
        <div class="label">
        <h3>300+ Startups and Top MNCs
        hire students from AccioJob</h3>
        </div>
        <div class="logos">
            <div class="brand"><img src="{% static '/images/brands/Airtel.png' %}" alt=""></div>
            <div class="brand"><img src="{% static '/images/brands/amazon-logo.png'  %}" alt=""></div>
            <div class="brand"><img src="{% static '/images/brands/bharatpe-logo.png' %}" alt=""></div>
            <div class="brand"><img src="{% static '/images/brands/freecharge-logo.png' %}" alt=""></div>
            <div class="brand"><img src="{% static '/images/brands/make-my-trip-logo.png' %}" alt=""></div>
            <div class="brand"><img src="{% static '/images/brands/paytm-logo.png' %}" alt=""></div>
            <div class="brand"><img src="{% static '/images/brands/tokopedia-logo.png' %}" alt=""></div>
            <div class="brand"><img src="{% static '/images/brands/visa-logo.png' %}" alt=""></div>
        </div>
    </div>
</section>


{% endblock content%}